{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block header %}ログイン{% endblock %}
{% block content %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('.login') }}" method=post>
    <table>
       <tr><td>ID </td><td>{{ form.id() }}</td></tr>
       <tr><td>パスワード</td><td>{{ form.password() }}<td></tr>
       <tr><td>Remember Me</td><td>{{ form.remember_me }}<td></tr>
    </table>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <input type="submit" value="Login">
  </form>
{% endblock %}
