{% extends "base.html" %}
{% block title %}ユーザ編集{% endblock %}
{% block header %}ユーザ編集{% endblock %}
{% block content %}
    <form action="{{ url_for('edit_user', userid=user.id) }}" method=post class=edit-user>
      <table>
        <tr>
          <td>ID</td>
          <td>{{user.id}}</td>
	</tr>
        <tr>
          <td>{{form.email.label}}</td>
          <td>{{form.email()}}</td>
        </tr>
        <tr>
          <td>{{form.name.label}}</td>
          <td>{{form.name()}}</td>
        </tr>
        <tr>
          <td>{{form.role.label}}</td>
          <td>{{form.role()}}</td>
        </tr>
      </table>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <input type=submit value="OK"/>
    </form>
{% endblock %}
