{% extends "base.html" %}
{% from 'field.html' import field_as_tr %}
{% block title %}ユーザ編集{% endblock %}
{% block header %}ユーザ編集{% endblock %}
{% block content %}
    <form action="{{ url_for('edit_user', userid=user.id) }}" method=post class=edit-user>
      <table>
        <tr>
          <td>ID</td>
          <td>{{user.id}}</td>
	</tr>
	{{ field_as_tr(form.email) }}
	{{ field_as_tr(form.name) }}
	{{ field_as_tr(form.role) }}
      </table>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <input type=submit value="更新"/>
    </form>
{% endblock %}
