{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block header %}ログイン{% endblock %}
{% block content %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <input type="text" name="email" />
    <input type="password" name="password" />
    {{ form.csrf_token }}
    <input type="submit" value="Go">
  </form>
{% endblock %}
