{% extends "base.html" %}
{% from 'field.html' import field_as_tr %}
{% block title %}ユーザ追加{% endblock %}
{% block header %}ユーザ追加{% endblock %}
{% block content %}
    <form action="{{ url_for('.add_user') }}" method=post class=add-user>
      <table>
	{{ field_as_tr(form.id) }}
	{{ field_as_tr(form.password) }}
	{{ field_as_tr(form.email) }}
	{{ field_as_tr(form.name) }}
	{{ field_as_tr(form.role) }}
      </table>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      <input type=submit value="OK"/>
    </form>
{% endblock %}
